<%- include('../partials/head') %>
<div class="container-scroller">
    <%- include('../partials/admin-navbar') %>
      <div class="main-panel">
        <%- include('../partials/messages') %>
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Tabel prodi</h4>
                  <a href="/prodi/create" class="btn btn-rounded btn-primary">Tambah prodi</a>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nama prodi</th>
                          <th>Jurusan</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for( let i = 0; i < rows.length; i++ ) { %>
                        
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= rows[i].nama_prodi %></td>
                              <td><%= rows[i].nama_jurusan %></td>
                              <td>
                                <a href="/prodi/edit/<%= rows[i].id_prodi %>" class="btn btn-rounded btn-warning">Edit</a>
                                <a href="/prodi/delete/<%= rows[i].id_prodi %>" class="btn btn-rounded btn-danger">Hapus</a>
                              </td>
                            </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../partials/foot') %>