<%- include('../partials/head') %>
<div class="container-scroller">
    <%- include('../partials/admin-navbar') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <%- include('../partials/messages') %>
          <div class="row">           
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Tabel User</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Email</th>
                          <th>Level_user</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for( let i = 0; i < rows.length; i++ ) { %>
                        
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= rows[i].email %></td>
                              <td><%= rows[i].level_users %></td>
                              <% if (rows[i].level_users == 1) { %>
                               <td>

                               </td>
                              <% }else{ %>
                              <td>
                                <a href="/delete/<%= rows[i].id_users %>" class="btn btn-rounded btn-danger">Hapus</a>
                              </td>
                                <% } %>
                            </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../partials/foot') %>