<%- include('../partials/head') %>
<%- include('../partials/dosen-navbar2') %>
<div class="main-panel">
    <div class="content-wrapper">
        <%- include('../partials/messages') %>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Daftar Pengumuman untuk <%= data.nama_matakuliah %></p>
                        
                        <% if (pengumuman && pengumuman.length > 0) { %>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Judul pengumuman</th>
                                            <th>Isi pengumuman</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% pengumuman.forEach(function(p) { %>
                                            <tr>
                                                <td><%= p.judul %></td>
                                                <td><%= p.keterangan %></td>
                                                
                                                <td>
                                                    <a href="/dosen/delete_pengumuman/<%= p.id_pengumuman %>" 
                                                        class="btn btn-danger text-light" >Hapus</a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        <% } else { %>
                            <p class="text-muted">Belum ada Pengumuman</p>
                        <% } %>
                        
                        <!-- Tombol untuk membuat tugas -->
                        <button id="toggleFormBtn" class="btn btn-primary mt-3">Buat Pengumuman</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 grid-margin stretch-card" id="tugasForm" style="display: none;">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Form Pembuatan Pengumuman</h4>
                        <form action="/dosen/upload_pengumuman/<%= data.id_jadwal %>" class="forms-sample" method="post">
                            <div class="form-group">
                                <label for="judul">Judul Pengumuman</label>
                                <input type="text" name="judul" class="form-control" id="judul" placeholder="Judul Pengumuman" required>
                            </div>
                            <div class="form-group">
                                <label for="keterangan">Isi Pengumuman</label>
                                <textarea name="keterangan" id="exampleTextarea" class="form-control" rows="4" placeholder="Masukkan isi Pengumuman" required></textarea>
                            </div>
                            
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button type="button" class="btn btn-light" onclick="window.history.back();">Cancel</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        
    // Menambahkan event listener untuk tombol toggle form
    document.getElementById('toggleFormBtn').addEventListener('click', function() {
        const form = document.getElementById('tugasForm');
        if (form.style.display === "none") {
            form.style.display = "block"; // Tampilkan form
        } else {
            form.style.display = "none"; // Sembunyikan form
        }
    });
</script>
<%- include('../partials/foot') %>